.about {
    width: 100%;
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.about-con {
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.img-about-con {
    width: 50%;
}
.about-ed {
   
    width: 100%;
    
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.img-about {
    margin-top: 2rem;
        width: 100%;
        height: 500px;
        background-color: transparent;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
.ed-div {
    Width: 80%;
    padding-top: 3rem;
    
}
.about-header {
    Width: 50%;
    padding-top: 3rem;
}
.about-header h1, h2{
  
    color: black;
   
    font-family: 'Cormorant Garamond', serif;
}
.about-header h1 {
    font-size: 70px;
    color: black;
    font-weight: normal;
}
.about-header h2 {
    font-size: 25px;
    color: black;
    font-weight: lighter;
}
.my-intro-text {
    width: 80%;
    padding-top: 1rem;
    font-size: 19px;
    color: black;
    font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
}
@media screen and (min-width: 0px) and (max-width:750px) { 
    .about-header {
        Width: 100%;
        padding-top: 2rem;
    }
    .img-about-con {
        width: 70%;
    }
    .about-header h1 {
        font-size: 50px;
        color: black;
        font-weight: normal;
    }
    .about-header h2 {
        font-size: 20px;
        color: black;
        font-weight: lighter;
    }
    .my-intro-text {
        width: 80%;
        padding-top: 1rem;
        font-size: 16px;
        color: black;
        font-weight: lighter;
        font-family: 'Cormorant Garamond', serif;
    }
    .about-ed {
        width: 100%;
        justify-content: initial;
        align-items: initial;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 0px) and (max-width:450px) { 
    .about-header {
        Width: 50%;
        padding-top: 2rem;
    }
    .about-header h1 {
        font-size: 40px;
        color: black;
        font-weight: normal;
    }
    .about-header h2 {
        font-size: 18px;
        color: black;
        font-weight: lighter;
    }
    .my-intro-text {
        width: 80%;
        padding-top: 1rem;
        font-size: 14px;
        color: black;
        font-weight: lighter;
        font-family: 'Cormorant Garamond', serif;
    }
}


.info-my-div {
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 97%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.exprience-div {
    width: 100%;
    padding-bottom: 1rem;
}
.exprience-div h1{
    width: 100%;
    padding-top: 1rem;
    font-size: 35px;
    color: black;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
}
.list-ex {
    width: 100%;
  
   
    display: flex;
    flex-direction: column;
}
.name-job, .date-job {
   
    justify-content: space-between;
   
    display: flex;
    
}
.name-job h1 {
    font-size: 22px;
    color: black;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
}
.name-job h2 {
    font-size: 22px;
    color: black;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 3rem;
}
.date-job h1 {
    font-size: 20px;
    color: black;
    font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
}
.date-job h2 {
    font-size: 20px;
    color: black;
    font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 1rem;
}
.info-div {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
@media screen and (min-width: 0px) and (max-width:750px) { 
    .ed-div {
        Width: 90%;
        padding-top: 2rem;
    }
    .exprience-div h1{
        width: 100%;
        padding-top: 1rem;
        font-size: 25px;
        
    }
    .name-job h1 {
        font-size: 18px;
        font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
     }
    .name-job h2 {
        font-size: 18px;
         padding-left: 3rem;
         font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    }
    .date-job h1 {
        font-size: 18px;
        font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    }
    .date-job h2 {
        font-size: 18px;
        padding-left: 1rem;
        font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    }
}
@media screen and (min-width: 0px) and (max-width:450px) { 
    .ed-div {
        Width: 90%;
        padding-top: 2rem;
    }
    .exprience-div h1{
        width: 100%;
        padding-top: 1rem;
        font-size: 20px;
        font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    }
    .name-job h1 {
        font-size: 15px;
        font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
     }
    .name-job h2 {
        font-size: 15px;
         padding-left: 3rem;
         font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    }
    .date-job h1 {
        font-size: 15px;
    }
    .date-job h2 {
        font-size: 15px;
        padding-left: 1rem;
    }
}
@media screen and (min-width: 0px) and (max-width:350px) {
    .name-job h1 {
        font-size: 14px;
     }
    .name-job h2 {
        font-size: 14px;
         padding-left: 3rem;
    }
    .date-job h1 {
        font-size: 14px;
    }
    .date-job h2 {
        font-size: 14px;
        padding-left: 1rem;
    }
 }
 @media screen and (min-width: 0px) and (max-width:300px) {
    .name-job h1 {
        font-size: 12px;
     }
    .name-job h2 {
        font-size: 12px;
         padding-left: 3rem;
    }
    .date-job h1 {
        font-size: 12px;
    }
    .date-job h2 {
        font-size: 12px;
        padding-left: 1rem;
    }
 }