/*
.wire-img-con {
    width: 80%;
    background-color: rgb(247, 248, 248);
    justify-content: space-between;
   
    display: flex;
}
.wire-con-auto {
    width: 70%;
     
        
    margin: .5rem;
    
height: 1400px;

background-repeat: no-repeat;
background-size: contain;
background-position: top center;
}
.sitemap-con {
    width: 80%;
    
}
.sitemap-img {
    width: 100%;
    height: 500px;

background-repeat: no-repeat;
background-size: contain;
background-position: top center;
}
.per-con {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.per-img {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
background-size: contain;
background-position: top center;
margin-bottom: 2rem;
}
@media screen and (min-width: 0px) and (max-width:1000px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 1000px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
    .sitemap-img {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:950px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 900px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
    .sitemap-img {
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:840px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 800px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:760px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 700px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:680px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 620px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:580px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 540px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:530px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 500px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
    .sitemap-img {
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:480px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 480px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:450px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 440px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:420px) {
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 400px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
    .sitemap-img {
        width: 100%;
        height: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:380px) {
    .wire-img-con {
        width: 80%;
        background-color: rgb(247, 248, 248);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 400px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
    .wire-con-auto-l {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 800px;
    
    }
    .wire-con-auto-s {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 300px;
    }
 }
 @media screen and (min-width: 0px) and (max-width:320px) {
    .sitemap-img {
        width: 100%;
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
    }
    .wire-con-auto {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 350px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    }
    .wire-con-auto-l {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 760px;
    
    }
    .wire-con-auto-s {
        width: 70%;
         
            
        margin: .5rem;
        
    height: 300px;
    }
 }
 */

 .heading-con {
     width: 100%;
     justify-content: space-between;
     
     display: flex;
     margin-top: 3rem;
 }
 .heading-text {
     width: 50%;
     
     display: flex;
     flex-direction: column;
 }
 .heading-text h1 {
    color: black;
    font-size: 50px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
 }
 .auto-title {
    width: 100%;
    margin-left: 4rem;
 }
 .list-i {
  
    display: flex;
 }
 .list-i p {
    
padding-right: 1rem;
font-family: 'Cormorant Garamond', serif;
font-weight: lighter;
font-size: 20px;

 }
 .over {
     width: 100%;
     display: flex;
     flex-direction: column;
     margin-top: 3rem;
 }
 .over h1 {
    color: black;
    font-size: 30px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
 }
 .over p {
     width: 80%;
    font-size: 18px;
 }
 .heading-img {
     width: 50%;
     height: 500px;
     background-color: transparent;
     background-position: center;
     background-repeat: no-repeat;
background-size: contain;
 }
 .chal-con {
     width: 90%;
     padding: 2rem;
     
     justify-content: space-between;
     display: flex;
     padding-top: 6rem;
     padding-bottom: 6rem;
 }
 .chal-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
 }
 .chal-text h1 {
    color: black;
    font-size: 30px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
 }
 .chal-text p {
    color: black;
    font-size: 18px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 90%;
 }
 .quote {
     width: 70%;
     justify-content: center;
     align-items: center;
     display: flex;
  flex-direction: column;
  transform: translate(0px, 0px);
  z-index: 1;
  padding: 2rem;
 }
 .quote h1 {
    color: black;
    font-size: 50px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-style: italic;
 }

 .skew {
     position: relative;
     width: 100%;
     height: 400%;
     background-color: #3B6E70;
     box-sizing: border-box;
   
     
     
     align-items: center;
     display: flex;
     flex-direction: column;
     padding-bottom: 12rem;
 }
 .skew::after {
     position: absolute;
     content: '';
     width: 100%;
     height: 100%;
     background-color: inherit;
     transform: skewY(-5deg);
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     transform-origin: top left;
    z-index: -1;
 } 
 .site-co {
    width: 80%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}
.site-co h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 90%;
}
.site-co p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 70%;
}
.site-con {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    background-color: transparent;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.site-img {
    width: 90%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
background-size: contain;
}

.mob-co {
    padding-bottom: 3rem;
} 
.chal-text ul {
 justify-content: initial;
 align-items: initial;
 display: flex;
 flex-direction: column;
 font-family: 'Cormorant Garamond', serif;
 font-weight: normal;
 width: 80%;
 padding-top: .5rem;
}
.chal-text ul li{
    padding-top: .5rem;
    list-style-type: initial;
   }
   .over h2 {
         font-size: 30px;
         padding-top: .5rem;
         font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 80%;
   }
   .over ul {
    justify-content: initial;
    align-items: initial;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 80%;
    padding-top: .5rem;
   }
   .over ul li {
    padding-top: .5rem;
    
   }
/*.mobile-con {
    z-index: 2;
    width: 90%;
    margin-bottom: 0rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
align-items: initial;
}
.mobile-img {
    width: 24%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 2rem;
} */
.skew-con {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.mobile-con {
position: absolute;
z-index: 3;
width: 90%;
margin-bottom: 0rem;
justify-content: center;
align-items: center;
display: grid;
grid-gap: 2rem;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: minmax(80vh, auto);
/*transform: translate(0px, -450px); */ 
}
.mobile-img {
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
} 
.sk {
    width: 100%;
    position: absolute;
    z-index: 1;
}
.skew2 {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #F0FFF0;
    box-sizing: border-box;
    padding: 2rem;
    
} 
.skew2::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewY(5deg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    
} 
.skew3 {
    position: relative;
    width: 100%;
    height: 50vh;
    padding-top: 2rem;
    background-color: #F0FFF0;
    box-sizing: border-box;
  
    
    
    align-items: center;
    display: flex;
    flex-direction: column;
}
.skew3::after {
   
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewY(-5deg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
   z-index: 1;
} 
.skew4 {
    position: relative;
    width: 100%;
    
    background-color: #3B6E70;
    box-sizing: border-box;
    padding-top: 15rem;
    padding-bottom: 10rem;
    
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*.skew4::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewY(-5deg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
   z-index: -1;
} */
.final-img-con {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
    width: 70%;
}
.final-con-auto {
    width: 50%;
    height: 800px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}
.wire-img-con {
    width: 90%;
    z-index: 2;
    justify-content: space-between;
   
    display: flex;
}
.wire-con-auto {
    width: 100%;
    
    margin: .5rem;
    margin-top: 1rem;
    height: 650px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.prototype-link button {
    transform: translate(0px, 0px);
    margin-top: 3rem;
    font-size: 18px;
}
.auto-personas {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;
}
.auto-persona {
    width: 70%;
    
    height: 360px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
@media screen and (min-width: 0px) and (max-width:1300px) {
    .heading-con {
        margin-top: 3rem;
    }
    .heading-text h1 {
        font-size: 50px;
        padding-top: .5rem;
     }
     .auto-title {
        margin-left: 3rem;
     }
     .heading-img {
        width: 50%;
        height: 50vh;
       
    }
    .over {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .chal-con {
        width: 90%;
        padding: 2rem;
            
        justify-content: space-between;
        display: flex;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .site-con {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        background-color: transparent;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    .site-img {
        width: 80%;
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .site-co {
        width: 80%;
        margin-top: 3rem;
        
    }
    .site-co p {
        color: black;
        font-size: 18px;
        padding-top: .5rem;
        font-family: 'Cormorant Garamond', serif;
        font-weight: normal;
        width: 70%;
        padding-bottom: 1rem;
    }
    .mob-co {
        padding-top: 0rem;
        padding-bottom: 3rem;
    }

    .skew {
        position: relative;
        width: 100%;
      
    
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .skew2 {
        position: relative;
        width: 100%;
       
       
        box-sizing: border-box;
        padding: 2rem;
    }
 }

 @media screen and (min-width: 0px) and (max-width:1100px) {
  
    .heading-con {
        margin-top: 3rem;
    }
    .heading-text h1 {
        font-size: 45px;
        padding-top: .5rem;
     }
     .auto-title {
        margin-left: 3rem;
     }
    
    .over {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .heading-text h1 {
        font-size: 45px;
        padding-top: .5rem;
    }
    .over h1 {
       
        font-size: 30px;
    }
    .over p {
        width: 80%;
        font-size: 16px;
    }
    .chal-con {
        width: 90%;
        padding: 3rem;
            
        justify-content: space-between;
        display: flex;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .chal-text p {
        
        font-size: 16px;
        padding-top: .5rem;
      
        width: 90%;
    }
    .site-con {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        background-color: transparent;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
  
    .site-co {
        width: 80%;
        margin-top: 5rem;
        
    }
 
  
    .site-co p {
    
        font-size: 18px;
        padding-top: .5rem;
        font-family: 'Cormorant Garamond', serif;
        font-weight: normal;
        width: 70%;
        padding-bottom: 1rem;
    }
    .mob-co {
        padding-top: 0rem;
        padding-bottom: 2rem;
    }

    .skew {
        position: relative;
       
    
       
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .skew2 {
        position: relative;
       
     
      
        box-sizing: border-box;
        padding: 2rem;
    }
 }
 @media screen and (min-width: 0px) and (max-width:920px) {
    
    .heading-text h1 {
        color: black;
        font-size: 30px;
        padding-top: .5rem;
        font-family: 'Cormorant Garamond', serif;
        font-weight: normal;
    }
    .list-i p {
        padding-right: 1rem;
        font-family: 'Cormorant Garamond', serif;
        font-weight: lighter;
        font-size: 15px;
    }

    .wire-con-auto {
       
        height: 450px;
       
    }
   
    .site-co {
        width: 80%;
        margin-top: 3rem;
    }
    .quote {
       
        transform: translate(0px, 30px);
    }
    .quote h1 {
        font-size: 30px;
    }
    .chal-text {
       
        margin-left: 1rem;
    }
    .chal-text h1 {
       
        font-size: 30px;
        padding-top: .5rem;
        
    }
    .chal-text p {
        font-size: 16px;
        padding-top: .5rem;
        width: 95%;
    }
    .skew {
        position: relative;
     
        
   
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }
    .skew2 {
        position: relative;
      
    
      
        box-sizing: border-box;
        padding: 2rem;
    }
    .site-con {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        background-color: transparent;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
 }
 @media screen and (min-width: 0px) and (max-width:760px) {
    .final-img-con {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        width: 90%;
    }
    .mobile-con {
        position: absolute;
        z-index: 3;
        width: 80%;
        margin-bottom: 0rem;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(40vh, auto);
          
        }
        .skew2 {
            height: 30vh;
        }
        .skew3 {
            height: 30vh;
        }
    .heading-con {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .heading-text {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .heading-img {
        margin-top: 2rem;
        width: 100%;
        height: 500px;
        background-color: transparent;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
    }
  
 

    .skew {
        position: relative;
     
     
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }
    .skew {
        position: relative;
        

       
        padding-top: 6rem;
    }

 }
 @media screen and (min-width: 0px) and (max-width:660px) {
    .mobile-con {
        position: absolute;
        z-index: 3;
        width: 80%;
        margin-bottom: 0rem;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: .9rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(30vh, auto);
          
        }

    .site-con {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        background-color: transparent;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .site-co {
        width: 80%;
        margin-top: 2rem;
    }
 }
 @media screen and (min-width: 0px) and (max-width:660px) {
    .skew2 {
        height: 20vh;
    }
    .skew3 {
        height: 20vh;
    }
    .heading-text {
        width: 100%;
        
    }
    .chal-con {
        width: 90%;
        padding: 3rem;
           
       
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .chal-text {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }
    .chal-text p {
        font-size: 16px;
        padding-top: .5rem;
        width: 100%;
    }
    .site-co p {
     
        font-size: 18px;
        padding-top: .5rem;
       
        width: 100%;
        padding-bottom: 1rem;
    }
    .site-co {
        width: 80%;
        margin-top: 1rem;
    }
    .mob-co {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .site-con {
        width: 100%;
        
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
 
    .skew {
        position: relative;
     
       
      
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }

    .skew {
        position: relative;
     
      
       
        padding-top: 6rem;
    }
    .quote {
       
        transform: translate(0px, 20px);
    }
    .quote h1 {
        font-size: 20px;
    }
    .auto-persona {
        width: 70%;
        
        height: 260px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
 }
 @media screen and (min-width: 0px) and (max-width:520px) {
    .wire-con-auto {
       
        height: 350px;
       
    }
    .skew2 {
        height: 20vh;
    }
    .skew3 {
        height: 20vh;
    }
    .wire-img-con {
        width: 90%;
        z-index: 2;
        justify-content: space-between;
        display: flex;
    }
  
    .heading-text h1 {
        font-size: 35px;
        padding-top: .5rem;
    }
    .list-i p {
        padding-right: .5rem;
        font-size: 18px;
    }
    .over {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
    }
    .heading-text h1 {
        font-size: 30px;
        padding-top: .5rem;
    }
    .chal-text p {
        font-size: 14px;
        padding-top: .5rem;
    }
    .chal-text h1 {
        
        font-size: 25px;
        padding-top: .5rem;
    }
    .site-co h1 {
        font-size: 25px;
        padding-top: .5rem;
        width: 90%;
    }
    .site-co p {
        
        font-size: 15px;
        
    }
    .auto-title {
        margin-left: 2rem;
    }
    .site-co {
        width: 90%;
        margin-top: 1rem;
    }

    .quote {
       
        transform: translate(0px, 40px);
    }
    .quote h1 {
        font-size: 20px;
    }
 }
 @media screen and (min-width: 0px) and (max-width:470px) {
   
    .wire-img-con {
        width: 90%;
        z-index: 2;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
   
  
    .auto-title {
        margin-left: 1rem;
    }

    .mobile-con {
        position: absolute;
        z-index: 3;
        width: 80%;
        margin-bottom: 0rem;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(30vh, auto);
          
        }
        .skew2 {
            height: 20vh;
        }
        .skew3 {
            height: 20vh;
        }
        .skew4 {
            
            padding-top: 6rem;
            padding-bottom: 5rem;
          
        }
 }
 @media screen and (min-width: 0px) and (max-width:450px) {
    .mobile-con {
        position: absolute;
        z-index: 3;
        width: 90%;
        margin-bottom: 0rem;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: .3rem;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(25vh, auto);
          
        }
        .skew2 {
            height: 20vh;
        }
        .skew3 {
            height: 20vh;
        }
 }
 @media screen and (min-width: 0px) and (max-width:390px) {
    .mobile-con {
        position: absolute;
        z-index: 3;
        width: 90%;
        margin-bottom: 0rem;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(20vh, auto);
          
        }
        .skew2 {
            height: 35vh;
        }
        .skew3 {
            height:35vh;
        }
 }
 /*.sk-con {
    margin-top: 12rem;
   width: 100%;
    position: relative;
   
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 }
 .site-con {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
 }
 .site-co {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    

 }*/

