.email-con {
    width: 50%;
    justify-content: inherit;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.intro-email {
    width: 90%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.email-img-con {
    width: 50%;
}
.email-img-con .banner-img {
  width: 90%;
  height: 900px;
justify-content: center;
align-items: center;
display: flex;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
.email-con .over {
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.over h1 {
    color: black;
    font-size: 35px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
}
.over h2 {
    padding-top: .5rem;
    font-size: 25px;
    padding-top: .5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    width: 80%;
}
.wires-text-email {
    margin-top: 0rem;
}
.wires-text-email .over{
   width: 70%;
}
.wires-con-div-email {
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.res-con {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.res-con .over { 
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
.res-imgs {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    height: 100px;
    justify-content: space-between;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.persona-email-con {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.persona-email {
    width: 30%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.res-img {
    width: 30%;
height: 50%;
justify-content: center;
align-items: center;
display: flex;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
} 
.goal {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}
.res-con .over {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
.res-con .over p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
}
.wires-con-email {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.email-img-mock {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-wires {

    width: 90%;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5rem;

}
.email-ui-mob {
    width: 90%;
    display: flex;
}
.email-ui-des {
    width: 90%;
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.email-img {
    width: 50%;
    height: 750px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
} 

.email-img-des {
    width: 100%;
    height: 750px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (min-width: 0px) and (max-width:1000px) {
    .email-img-con .banner-img {
        width: 95%;
        height: 800px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .email-wires {
        width: 90%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 5rem;
    }
    .text-photo {
        width: 90%;
        margin: 2rem;
    }
    .text-photo .over{
        width: 70%;
        
    }
    .email-img-des {
        width: 100%;
        height: 650px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
@media screen and (min-width: 0px) and (max-width:900px) {
    .email-img-con .banner-img {
        width: 95%;
        height: 800px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .email-wires {
        width: 90%;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 5rem;
    }
    .text-photo {
        width: 90%;
        margin: 2rem;
    }
    .text-photo .over{
        width: 70%;
        
    }
    .email-img-des {
        width: 100%;
        height: 550px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .email-con .over p {
        font-size: 18px;
    }
    .intro-email {
        width: 90%;
        justify-content: initial;
        align-items: initial;
        display: flex;
        flex-direction: column;
    }
    .email-con {
        width: 100%;
        justify-content: inherit;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .email-con .over ul li {
        font-size: 18px;
        color: black;
        padding-top: .5rem;
        font-family: 'Cormorant Garamond', serif;
    }
    .res-con .over p{
        font-size: 18px;
    }
    .wires-text-email .over p{
        font-size: 18px;
    }
    .wires-text-email .over {
        width: 100%;
    }
    .text-photo .over {
        width: 100%;
    }
    .text-photo .over p{
        font-size: 18px;
    }
    .email-img-con {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .email-img-con .banner-img {
        width: 95%;
        height: 800px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .email-wires {
        width: 90%;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 5rem;
    }
    .text-photo {
        width: 90%;
        margin: 2rem;
    }
   
    .email-img-des {
        width: 100%;
        height: 550px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .wires-con-email {
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .email-wires {
        width: 90%;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 1rem;
    }
    .persona-email {
        width: 60%;
        height: 500px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .res-con .over {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
    }
    .res-con .over p {
       
        width: 100%;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .wires-text-email .over h1{
        font-size: 40px;
    }
    .text-photo .over h1{
        font-size: 40px;
    }
}
@media screen and (min-width: 0px) and (max-width: 700px) {
    .wires-text-email .over h1{
        font-size: 40px;
    }
    .text-photo .over h1{
        font-size: 40px;
    }
    .email-con .over ul li {
        font-size: 18px;
        color: black;
        padding-top: .5rem;
        font-family: 'Cormorant Garamond', serif;
    }
    .res-con .over p{
        font-size: 18px;
    }
    .wires-text-email .over p{
        font-size: 18px;
    }
    .wires-text-email .over {
        width: 100%;
    }
    .text-photo .over {
        width: 100%;
    }
    .text-photo .over p{
        font-size: 18px;
    }
    
.email-img-con .banner-img {

    width: 95%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
.email-img-des {
    width: 100%;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .wires-text-email .over h1{
        font-size: 25px;
    }
    .text-photo .over h1{
        font-size: 25px;
    }
    .email-con .over ul li {
        font-size: 18px;
        color: black;
        padding-top: .5rem;
        font-family: 'Cormorant Garamond', serif;
    }
    .email-con .over h2 {
        
        font-size: 20px;
        
    }
    .res-con .over p{
        font-size: 18px;
    }
    .wires-text-email .over p{
        font-size: 18px;
    }
    .wires-text-email .over {
        width: 100%;
    }
    .text-photo .over {
        width: 100%;
    }
    .text-photo .over p{
        font-size: 18px;
    }
    .text-photo .over h1{
        font-size: 25px;
    }
    .res-con .over h1{
        font-size: 25px;
    }
    .email-con .over h1{
        font-size: 25px;
    }
.email-img-con .banner-img {

    width: 95%;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
.email-img-des {
    width: 100%;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.email-wires {
    width: 90%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 1rem;
}

.persona-email {

    width: 60%;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
.email-con .over {
    width: 100%;
   
}
}