.photo {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.photo-page {
    width: 90%;
    margin-bottom: 3rem;
}





.banner-page {
  width: 100%;
}
.banner-img-con {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #3B6E70;
    width: 100%;
  
    justify-content: center;
    align-items: center;
    display: flex;
}
.banner-img {
  width: 100%;
  height: 400px;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.open-con {
  width: 90%;
  justify-content: space-around;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.over, .pic {
  width: 50%;
}
.over h1 p {
  color: black;
padding-top: .5rem;
font-family: 'Cormorant Garamond', serif;

}
.over h1 {
  font-size: 40px;
  font-weight: lighter;
  width: 90%;
}
.over p {
  width: 90%;
  font-size: 20px;
  font-weight: lighter;
}
.goal-con {
  width: 100%;
  background-color: #3B6E70;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
/*  position: absolute; 
  z-index: 1; */
}
.over ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}
.over ul li{
  font-size: 20px;
  color: black;
  padding-top: .5rem;
  font-family: 'Cormorant Garamond', serif;
}
.coo {
  width: 100%;
  
}


/*.sket {
  position: relative;
  width: 100%;
  height: 400%;
  background-color: #fcfcfc31;
  box-sizing: border-box;

  
  
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 12rem;
}
.sket::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: skewY(-3deg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
 z-index: 1;
} */
.sket {
  width: 100%;
}
.grad-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  
  z-index: 1;
}
.img-background-con {
  width: 100%;
  height: 110vh;
  
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.img-back {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  filter: blur(0px);
  background-color: black;
}
.test-logo {
  justify-content: center;
  
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 0rem;
  width: 90%;
  height: 100%;
 z-index: 2;
 
}
.logo-con {
  width: 100%;
  margin-top: 2rem;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.521);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 5px;
}
.logo {
 width: 40%;
 height: 90%;
 justify-content: center;
 align-items: center;
 display: flex;
 background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  
}
.test-logo .over {
  margin-top: 3rem;
}
.test-logo .over h1{
  color: white;
}
.test-logo .over p{
  color: white;
  
}
.wires-con-div {
  background-color: #3B6E70;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.wires-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.wires-con {
  margin-top: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.wires {
  width: 90%;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 5rem;
}
.photo-fin-ui {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.text-photo {
  width: 90%;
  margin: 5rem;
}

.photo-re-con {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.photo-re {
  width: 100%;
  justify-content: space-around;
  display: flex;
  margin-top: 5rem;
}
.mock-re {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.mock-re .over {
  width: 100%;
 
}
.mock-img-1 {
  width: 100%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.mock-img-2 {
  width: 100%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 0px) and (max-width:1200px) { 
  .wires {
    width: 90%;
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5rem;
}
.mock-img-1 {
  width: 100%;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.mock-img-2 {
  width: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
}
@media screen and (min-width: 0px) and (max-width:1000px) { 

  .wires {
    width: 90%;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5rem;
}
.mock-img-1 {
  width: 100%;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.mock-img-2 {
  width: 100%;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

}
@media screen and (min-width: 0px) and (max-width:900px) {
  .wires-con {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .photo-re {
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin-top: 2rem;
}
  .wires {
    width: 90%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5rem;
}

.mock-img-1 {
  width: 100%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.mock-img-2 {
  width: 100%;
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
 }
 @media screen and (min-width: 0px) and (max-width:800px) {
  .test-logo .over {
    margin-top: 3rem;
    width: 70%;
  }
  .wires-text .over{
    width: 70%;
  }
  .text-photo .over {
    width: 70%;
    margin-bottom: 2rem;
  }
  .photo-re {
    width: 100%;
    justify-content: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
.mock-re {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  }
  .wires {
    width: 90%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5rem;
}
  .mock-img-1 {
    width: 100%;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 2rem;
}


/*.over h1 {
  font-size: 40px;
  font-weight: lighter;
  width: 90%;
}
.over p {
  width: 90%;
  font-size: 20px;
  font-weight: lighter;
} */
 }
 @media screen and (min-width: 0px) and (max-width:700px) {
  .open-con {
    width: 90%;
    justify-content: inherit;
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.open-con .over {
  width: 100%;
  margin-bottom: 3rem;
}
.open-con .over h1{
  font-size: 23px;
}
.test-logo .over h1{
  font-size: 23px;
}
.wires-text .over h1{
  font-size: 23px;
}
.text-photo .over h1{
  font-size: 23px;
}
.mock-img-1 {
  width: 100%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 2rem;
}
.mock-img-2 {
  width: 100%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
 }
 @media screen and (min-width: 0px) and (max-width:600px) {
  .img-back {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: initial;
    position: absolute;
    z-index: -1;
    filter: blur(0px);
    
}
.grad-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 1;
}

.banner-img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.test-logo .over {
  margin-top: 2rem;
  width: 90%;
}
.wires-text .over {
  width: 90%;
}
.wires {
  width: 90%;
  height: 400px;
 
  margin-bottom: 5rem;
}
.text-photo .over {
  width: 90%;
  margin-bottom: 2rem;
}

 }
 @media screen and (min-width: 0px) and (max-width:500px) {
  .wires {
    width: 90%;
    
    margin-bottom: 5rem;
}
.text-photo {
  width: 90%;
  margin: 2rem;
}
.mock-img-1 {
  width: 100%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 2rem;
}

.open-con .over p{
  font-size: 15px;
}
.test-logo .over p{
  font-size: 15px;
}
.wires-text .over p{
  font-size: 15px;
}
.text-photo .over p{
  font-size: 15px;
}

 }
/*.img-dec-con {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
 position: relative;
  transform: translateY(150px);
}
.coo {
  width: 100%;
  position: relative;
}
.dec {
  width: 30%;
  height: 70vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(0px);
  z-index: -1;
  
} */


/*.overview button{
  border: solid rgb(0, 0, 0) 3px;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  background-color: rgb(15, 15, 15, 0.5);
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: white;
  font-size: 30px;
  width: 0%;
  transform: translate(0px, 0px);
  margin-top: 3rem;
  font-size: 20px;
} */
/*
.banner-img {
    width: 100%;
     
        
    
    
height: 400px;

background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.wire-img-con {
    width: 70%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.wire-con {
    width: 30%;
     
        
    margin: .5rem;
    
height: 600px;

background-repeat: no-repeat;
background-size: contain;
}
.wire-con-mob {
width: 7%;
     
        
margin: .5rem;
height: 600px;
background-repeat: no-repeat;
background-size: contain;
}
.wire-con-mob-2 {
    width: 7%;
     
        
    margin: .5rem;
    
height: 600px;

background-repeat: no-repeat;
background-size: contain;
}
.final-con {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.final-ui-con {
  
    width: 80%;
    
    grid-template-columns: repeat(2,48%);
    grid-gap: .7rem;
    gap: 1rem;
    grid-template-rows: auto auto;
    display: grid;
}
.final-ui-singel {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 95%;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(213, 216, 216);
}
.final-ui-img {
    width: 45%;
     
        
    margin: .5rem;
    
height: 400px;

background-repeat: no-repeat;
background-size: contain;
}
.finL-ui {
    width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 2rem;
}
.ui-con {
    width: 50%;
    height: 1000px;
    margin-left: 1rem;
background-repeat: no-repeat;
background-size: contain;

}
.logo {
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 2rem;
    
   
    margin: 1rem;
}
.logo-lo {
  width: 90%;
  justify-content: center;
    align-items: center;
    display: flex;
  background-color: gray;
  border-radius: 10px;
  padding: 2rem;
}
.logo-sm {
    margin-left: .5rem;
    width: 30%;
    padding: 2rem;
    background-color: gray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .lo-img {
    width: 60%;
  height: 180px;
  background-repeat: no-repeat;
background-size: contain;
  }
 .logo-sm .lo-img {
     
    width: 80%;
  height: 180px;
  background-repeat: no-repeat;
background-size: contain;
  }
  .color {
      width: 80%;
      justify-content: center;
      align-items: center;
      display: flex;
      
  }
  .img-color {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 230px;
    background-repeat: no-repeat;
  background-size: contain;
  }
  @media screen and (min-width: 0px) and (max-width:1200px) { 
   
    .wire-img-con {
        width: 70%;
        padding: 2rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         
            
        margin: .5rem;
        
    height: 580px;
    
    background-repeat: no-repeat;
    background-size: contain;
    }
    .wire-con-mob {
    width: 7%;
         
            
    margin: .5rem;
    height: 580px;
    background-repeat: no-repeat;
    background-size: contain;
    }
    .wire-con-mob-2 {
        width: 7%;
         
            
        margin: .5rem;
        
    height: 580px;
    
    background-repeat: no-repeat;
    background-size: contain;
    }
    .logo {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 2rem;
        
       
        margin: 1rem;
    }
    .logo-lo {
      width: 90%;
      justify-content: center;
        align-items: center;
        display: flex;
      
      border-radius: 10px;
      padding: 2rem;
    }
    .logo-sm {
        margin-left: .5rem;
        width: 30%;
        padding: 2rem;
        background-color: gray;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      .lo-img {
        width: 60%;
      height: 170px;
      background-repeat: no-repeat;
    background-size: contain;
      }
     .logo-sm .lo-img {
         
        width: 80%;
      height: 170px;
      background-repeat: no-repeat;
    background-size: contain;
      }
      .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 50%;
        height: 900px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:1100px) { 
   
  
    .wire-img-con {
        width: 80%;
        padding: 0rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 550px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 550px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 550px;
    }
    .color {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .img-color {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 80%;
      height: 210px;
      background-repeat: no-repeat;
    background-size: contain;
    }
    .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 50%;
        height: 800px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:1000px) { 
    
    .wire-img-con {
        width: 80%;
        padding: 0rem;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 500px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 500px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 500px;
    }
    .logo-lo {
        width: 90%;
        justify-content: center;
          align-items: center;
          display: flex;
        
        border-radius: 10px;
        padding: 2rem;
      }
      .logo-sm {
          margin-left: .5rem;
          width: 30%;
          padding: 2rem;
          background-color: gray;
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          display: flex;
        }
        .lo-img {
          width: 60%;
        height: 130px;
        background-repeat: no-repeat;
      background-size: contain;
        }
       .logo-sm .lo-img {
           
          width: 80%;
        height: 130px;
        background-repeat: no-repeat;
      background-size: contain;
        }
        .finL-ui {
            width: 70%;
            justify-content: center;
            align-items: center;
            display: flex;
            padding-bottom: 2rem;
        }
        .ui-con {
            width: 50%;
            height: 700px;
            margin-left: 1rem;
        background-repeat: no-repeat;
        background-size: contain;
        
        }
  }
  @media screen and (min-width: 0px) and (max-width:900px) { 
    
    .wire-img-con {
       
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 480px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 480px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 480px;
    }
    .lo-img {
        width: 60%;
      height: 100px;
      background-repeat: no-repeat;
    background-size: contain;
      }
     .logo-sm .lo-img {
         
        width: 80%;
      height: 100px;
      background-repeat: no-repeat;
    background-size: contain;
      }
      .color {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .img-color {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 80%;
      height: 210px;
      background-repeat: no-repeat;
    background-size: contain;
    }
    .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 50%;
        height: 600px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:800px) { 
  
    .wire-img-con {
       
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 450px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 450px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 450px;
    }
    .logo {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 1rem;
        
       
        margin: 0rem;
    }
    .color {
        width: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .img-color {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 80%;
      height: 140px;
      background-repeat: no-repeat;
    background-size: contain;
    }
    .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 50%;
        height: 500px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:700px) { 
    .wire-img-con {
       
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 420px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 420px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 420px;
    }
    .lo-img {
        width: 90%;
      height: 100px;
      background-repeat: no-repeat;
    background-size: contain;
      }
     .logo-sm .lo-img {
         
        width: 90%;
      height: 100px;
      background-repeat: no-repeat;
    background-size: contain;
      }
      .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 50%;
        height: 400px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:670px) { 
    .wire-img-con {
     
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 350px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 350px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 350px;
    }
    .banner-img {
      width: 100%;
       
          
      margin: .5rem;
      
  height: 300px;
  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }
  }
  @media screen and (min-width: 0px) and (max-width:620px) { 
   
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 300px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 300px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 300px;
    }
  }
  @media screen and (min-width: 0px) and (max-width:580px) { 
    
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 280px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 280px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 280px;
    }
    .lo-img {
        width: 60%;
      height: 50px;
      background-repeat: no-repeat;
    background-size: contain;
      }
     .logo-sm .lo-img {
         
        width: 80%;
      height: 50px;
      background-repeat: no-repeat;
    background-size: contain;
      }
      .color {
        width: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .img-color {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 80%;
      height: 100px;
      background-repeat: no-repeat;
    background-size: contain;
    }
    .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 70%;
        height: 700px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:480px) { 
    .wire-img-con {
       
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 250px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 250px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 250px;
    }
    .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 70%;
        height: 600px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:430px) { 
  
    .wire-con {
        width: 30%;
         margin: .5rem;
        height: 220px;
    }
    .wire-con-mob {
    width: 7%;
    margin: .5rem;
    height: 220px;
    }
    .wire-con-mob-2 {
        width: 7%;
     margin: .5rem;
    height: 220px;
    }
    .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 60%;
        height: 470px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
  }
  @media screen and (min-width: 0px) and (max-width:400px) {
    .logo {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
       
        padding-bottom: 1rem;
        
       
        margin: 0rem;
    }
    .lo-img {
        width: 90%;
      height: 40px;
      background-repeat: no-repeat;
    background-size: contain;
      }
     .logo-sm .lo-img {
         
        width: 90%;
      height: 40px;
      background-repeat: no-repeat;
    background-size: contain;
      }
      .wire-con {
        width: 30%;
        margin: .5rem;
        height: 200px;
      }
      .wire-con-mob {
        width: 7%;
        margin: .5rem;
        height: 200px;
    }
    .wire-con-mob-2 {
        width: 7%;
        margin: .5rem;
        height: 200px;
    }
   }
   @media screen and (min-width: 0px) and (max-width:360px) {
    .logo {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
       
        padding-bottom: 1rem;
        
       
        margin: 0rem;
    }
    .lo-img {
        width: 90%;
      height: 40px;
      background-repeat: no-repeat;
    background-size: contain;
      }
     .logo-sm .lo-img {
         
        width: 90%;
      height: 40px;
      background-repeat: no-repeat;
    background-size: contain;
      }
      .wire-con {
        width: 30%;
        margin: .5rem;
        height: 180px;
      }
      .wire-con-mob {
        width: 7%;
        margin: .5rem;
        height: 180px;
    }
    .wire-con-mob-2 {
        width: 7%;
        margin: .5rem;
        height: 180px;
    }
    .finL-ui {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .ui-con {
        width: 80%;
        height: 500px;
        margin-left: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    
    }
   }